
<div class="field">
  <label class="label">Destination</label>
  <div class="control">
    {{input class='input' placeholder='Where are you going?' value=trip.destination}}
  </div>
  {{form-errors errors=formErrors for='destination'}}
</div>

<div class="field">
  <label class="label">Start date</label>
  <div class="control">
    {{pikaday-input value=trip.start_date minDate=minStartDate onSelection=(action 'setStartDate') class='input' placeholder='When?'}}
  </div>
  {{form-errors errors=formErrors for='start_date'}}
</div>

<div class="field">
  <label class="label">End date</label>
  <div class="control">
    {{pikaday-input value=trip.end_date minDate=minEndDate onSelection=(action 'setEndDate') class='input' placeholder='When are you coming back?'}}
  </div>
  {{form-errors errors=formErrors for='end_date'}}
</div>

<div class="field">
  <label class="label">Comment</label>
  <div class="control">
    {{textarea class='textarea' placeholder="e.g. Don't forget an umbrella!" value=trip.comment}}
  </div>
  {{form-errors errors=formErrors for='comment'}}
</div>



