<div class="level">
  <div class="level-left">
    <h2 class="title is-4">{{title}}</h2>
  </div>

  <div class="level-right">
    <p class="control has-icons-right">
      {{input class='input' value=filter placeholder='Filter trips'}}
      <span class="icon is-small is-right">
        <i class="fa fa-search"></i>
      </span>
    </p>
    &nbsp;&nbsp;
    {{#link-to 'trips.add' class='button is-success'}}
      <span class="icon is-small">
        <i class="fa fa-plus"></i>
      </span>
      <span>Add new trip</span>
    {{/link-to}}
  </div>
</div>

{{#each filteredTrips as |trip|}}

  <div class="box">
    <article class="media">
      <div class="media-content">
        <div class="level">
          <div class="level-left" style="width: 55%">
            <b>To:</b> &nbsp; {{trip.destination}}
          </div>
          <div class="level-item">
            <b>When:</b> &nbsp; {{trip.start}} &nbsp;{{#if trip.when}}({{trip.when}}){{/if}}
          </div>
          <div class="level-right">
            <b>Back:</b> &nbsp; {{trip.end}}
          </div>
        </div>
      </div>
      <div class="media-right">
        <a class='button is-info is-small is-outlined' title='Edit trip'>
          <span class="icon is-small">
            <i class="fa fa-pencil"></i>
          </span>
        </a>
      </div>
    </article>
    <small>
      {{trip.comment}}
    </small>
  </div>

{{/each}}
