<nav class="navbar is-white">
  <div class="container">
    <div class="navbar-brand">
    <a class="navbar-item brand-text" href="/">
      {{!-- Travel planner --}}
    </a>
    </div>
    <div class="navbar-menu">
      <div class="navbar-end">
        {{#if user.isAuthenticated}}
          <div class="navbar-item">Hi {{user.name}}</div>
          {{#if user.isAdmin}}
            <a class="navbar-item" {{action 'logout'}}>All trips</a>
          {{/if}}
          {{#if user.isUserManager}}
            <a class="navbar-item" {{action 'logout'}}>Users</a>
          {{/if}}
          <a class="navbar-item" {{action 'logout'}}>Logout</a>
        {{/if}}
      </div>
    </div>
  </div>
</nav>

<div style="position: relative">
  <div class="flash-messages">
    {{#each flashMessages.queue as |flash|}}
      {{flash-message flash=flash messageStyle='bootstrap'}}
    {{/each}}
  </div>
</div>

{{outlet}}
