<nav class="navbar is-white">
  <div class="container">
    <div class="navbar-brand">
    <a class="navbar-item brand-text" href="/">
      Travel planner
    </a>
    </div>
    <div class="navbar-menu">
      <div class="navbar-end">
        {{#if user.isAuthenticated}}
          <div class="navbar-item">Hi {{user.name}} ({{user.role}})</div>
          {{#link-to 'trips.upcoming' class="navbar-link"}}Upcoming trips{{/link-to}}
          {{#link-to 'trips.past' class="navbar-link"}}Past trips{{/link-to}}
          {{#link-to 'trips.plan' class="navbar-link"}}Next month{{/link-to}}
          {{#if user.isAdmin}}
            <a class="navbar-link">All user trips</a>
          {{/if}}
          {{#if user.isUserManager}}
            {{#link-to 'users' class="navbar-link"}}Users{{/link-to}}
          {{/if}}
          <a class="navbar-item" {{action 'logout'}}>Logout</a>
        {{/if}}
      </div>
    </div>
  </div>
</nav>

<div style="position: relative">
  <div class="flash-messages">
    {{#each flashMessages.queue as |flash|}}
      {{flash-message flash=flash messageStyle='bootstrap'}}
    {{/each}}
  </div>
</div>

<div class="columns">
  <div class="column"></div>
  <div class="column is-two-thirds">
    {{outlet}}
  </div>
  <div class="column"></div>
</div>

