<section class="hero">
  <div class="hero-body">
    <div class="columns">
      <div class="column"></div>
      <div class="column">
        <h1 class="title">Set your password</h1>
        <p>
          Please set your password by entering a new password below
        </p>
        <br>

        <form {{action 'setPassword' on='submit'}}>

          <div class="field">
            <div class="control has-icons-left">
              {{input class='input' type='password' value=password placeholder='Enter new password'}}
              <span class="icon is-small is-left">
                <i class="fa fa-lock"></i>
              </span>
            </div>
            {{#if passwordTooShort}}<p class="help is-danger">Password is too short (must be {{minPasswordLength}} characters or longer)</p>{{/if}}
          </div>

          <div class="field">
            <div class="control has-icons-left">
              {{input class='input' type='password' value=password_confirm placeholder='Confirm password'}}
              <span class="icon is-small is-left">
                <i class="fa fa-lock"></i>
              </span>
            </div>
            {{#if passwordsDontMatch}}<p class="help is-danger">Passwords don't match</p>{{/if}}
          </div>

          <br>
          <div class="field is-grouped">
            <div class="control">
              <button type="submit" class="button is-primary" disabled={{disableSubmit}}>
                {{#if inProgress}}
                Setting password...
                {{else}}
                Set password
                {{/if}}
              </button>
            </div>
            <div class="control">
              {{#link-to "index" class="button is-link"}}Cancel{{/link-to}}
            </div>
          </div>
        </form>

      </div>
      <div class="column"></div>
    </div>
  </div>
</section>
