<div class="columns">
  <div class="column"></div>
  <div class="column is-one-half">
    <h1 class="title">Edit user</h1>

    <form {{action 'save' user on='submit'}}>

      <div class="field">
        <label class="label">Email</label>
        <div class="control">
          {{input class='input' type='email' placeholder='Enter email' value=user.email}}
        </div>
        {{form-errors errors=formErrors for='email'}}
      </div>

      <div class="field">
        <label class="label">First name</label>
        <div class="control">
          {{input class='input' placeholder='e.g. John' value=user.first_name}}
        </div>
        {{form-errors errors=formErrors for='first_name'}}
      </div>

      <div class="field">
        <label class="label">Last name</label>
        <div class="control">
          {{input class='input' placeholder='e.g. Smith' value=user.last_name}}
        </div>
        {{form-errors errors=formErrors for='last_name'}}
      </div>

      <div class="field">
        <label class="label">Role</label>
        <div class="select">
          <select onchange={{action "selectRole" value="target.value"}}>
            {{#each availableRoles as |role|}}
              <option value="{{role}}" selected={{eq role user.role }}>{{role}}</option>
            {{/each}}
          </select>
        </div>
        {{form-errors errors=formErrors for='role'}}
      </div>
      <br>
      {{form-errors errors=formErrors for='__all__'}}
      <div class="field is-grouped">
        <div class="control">
          <button type="submit" class="button is-primary">
            {{#if inProgress}}
              Saving...
            {{else}}
              Save
            {{/if}}
          </button>
        </div>
        <div class="control">
          {{#link-to 'users' class='button is-link'}}Cancel{{/link-to}}
        </div>
      </div>

    </form>

  </div>
  <div class="column"></div>
</div>
