<h2 class="title is-4">Edit trip</h2>

<div class="columns">
  <div class="column">
    <form {{action 'save' trip on='submit'}}>

      {{trip-form trip=trip formErrors=formErrors}}

      <br>
      <div class="field is-grouped">
        <div class="control">
          <button type="submit" class="button is-primary">
            <span class="icon is-small">
              <i class="fa fa-check"></i>
            </span>
            <span>
              {{#if inProgress}}
                Saving trip...
              {{else}}
                Save trip
              {{/if}}
            </span>
          </button>
        </div>
        <div class="control">
          <button {{action 'delete' trip}} type="button" class="button is-danger">
            <span class="icon is-small">
              <i class="fa fa-remove"></i>
            </span>
            <span>Delete trip</span>
          </button>
        </div>
        <div class="control">
          <button {{action "back"}} class='button is-link'>Cancel</button>
        </div>
      </div>
    </form>
  </div>
  <div class="column"></div>

</div>
